/* inizio header  */
header{
    background-image: url('../img/pattern.png');
    background-size: contain;
    background-color: #3F8BFF;
}
.logo{
    width: 30%;
    margin: 10px;
    
}
/* fine header  */




